
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Makes the whole UI bigger without breaking layout */
  font-size: 18px;
}

body {
  font-feature-settings: "ss01" 1, "ss02" 1;
}
